body {
		font-family: "Open Sans";
}

.l1, .l2 {
	padding: 10px 0;

}

.container {
	padding: 25px;
	width: 800px;
	margin: 0 auto;
	background: #F8F1E3;
}

#next{
padding: 25px 0px;
}

#next a {	
	text-decoration: none;
	font-weight: bold;
}
