body {
	margin: 0;
		font-family: "Open Sans";
		color: #2c2c2c;
}

.l1, .l2 {
	padding: 10px 0;

}
.conts {
	padding: 0 20px;
}

.light {
	color: #c2c2c2;
}
.chap {
	padding: 5px 0px;
}

.container {
	padding: 25px;
	width: 700px;
	margin: 0 auto;
	background: #F8F1E3;
}

#next{
padding: 25px 0px;
}

#next a {	
	text-decoration: none;
	font-weight: bold;
}

.progress {
	margin-top: -10px;
	float: right;
	font-style: italic;
	color: #ccc;
}